<h4>UserList Page</h4>
<ul>
    {{#each userTab}}
    <li>{{this.user}}- {{this.email}}-{{this.age}}-{{this.city}} </li>
    {{/each}}
</ul>
<ul>
    {{#each userArray}}
    <li>{{this}}</li>
    {{/each}}

</ul>
